<div id="vide-submit-div">
    <p id="valid-extensions-info"> </p>
    <input id="fileinput" type="File">
    <button id="fileSubmitBtn"> Submit </button>
    <p id="show-progress-p"></p>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"> </script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-storage.js"> </script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-analytics.js">
    </script>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/bind-form.js">
    </script>
</div>